@import "tailwindcss";
@plugin "daisyui";


body {
  background-color: #0f0717;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: #8B4ACC;
}


